<h1>Ottawa Garbage Schedules</h1>

<%= form_tag root_path, :method => :get do %>
  <%= label_tag :q, "Please enter your street address:" %>
  <%= text_field_tag :q, params[:q], :placeholder => "111 Hawthorne", :type => 'search' %>
  <%= submit_tag 'Lookup', :name => nil %><br />
  <br />
  <small>Example: <em>111 Hawthorne</em></small>
<% end %>


<% if @trash_schedules %>
  <% if @trash_schedules.any? %>
    <ul>
    <% @trash_schedules.each do |ts| %>
      <li><%= link_to(display_address(ts), ts) %></li>
    <% end %>
    </ul>
  <% else %>
    <p class="error">Didn't find any matching addresses, please try again. </p>
  <% end %>
<% end %>

<%= render :partial => 'layouts/metadata' %>
