<p class="metadata">
  <% if params[:action] != 'index' %> 
    <%= link_to '&laquo; Back'.html_safe, root_path %> ::
  <% end %>
  <%= link_to 'City info', 'http://ottawa.ca/en/garbage_recycle/garbage/index.html' %> ::
  <%= link_to 'Source code', 'https://github.com/wvanbergen/ottawa-trash' %> ::
  <%= mail_to 'ottawa.garbage.day@gmail.com', 'Contact us' %> ::
  <%= link_to 'About', about_path %>
</p>