<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @page_title || 'Ottawa Trash Schedule Lookup' %></title>

    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'layout' %>

    <%= yield :head %>
  </head>
  <body>
    <div id="content">
      <h1> Lookup </h1>
      <%= yield %>
    </div>
  </body>
</html>
